<div class="modal fade" id="clientAddModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <h4 class="modal-title">Enter Client Details</h4>
            </div>
            <div class="modal-body">
                <form class="form" id="newClientForm" method="post"
                      action="{{ url_for('add_client_to_case', case_name_front=case_name_front, case_name_back=case_name_back) }}">
                    {{ client_form.hidden_tag() }}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="first_name" class="control_label">First Name</label>
                                {{ client_form.first_name(maxlength=255, class="form-control") }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="last_name" class="control_label">Last Name</label>
                                {{ client_form.last_name(maxlength=255, class="form-control") }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="birthdate" class="control_label">Birthdate</label>
                                {{ client_form.birthdate(class="form-control") }}
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="sex" class="control_label">Sex</label>
                                {{ client_form.sex(maxlength=15, class="form-control") }}
                            </div>
                        </div>
                        <div class="col-sm-offset-1 col-sm-4">
                            <div class="form-group">
                                <label for="phone_number" class="control_label">Phone Number</label>
                                {{ client_form.phone_number(maxlength=28, class="form-control") }}
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                         <div class="col-sm-4">
                            <div class="form-group">
                                <label for="address_line2" class="control_label">Role</label>
                                {{ client_form.address_line2(maxlength=255, class="form-control") }}
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="address_city" class="control_label">Role Comment</label>
                                {{ client_form.address_city(maxlength=255, class="form-control", placeholder="optional") }}
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="address_line1" class="control_label">Address Line 1</label>
                                {{ client_form.address_line1(maxlength=255, class="form-control") }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="address_line2" class="control_label">Address Line 2</label>
                                {{ client_form.address_line2(maxlength=255, class="form-control") }}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="address_city" class="control_label">City</label>
                                {{ client_form.address_city(maxlength=255, class="form-control") }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="address_line2" class="control_label">State</label>
                                {{ client_form.address_line2(maxlength=2, class="form-control") }}
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="address_city" class="control_label">Postal Code</label>
                                {{ client_form.address_city(maxlength=30, class="form-control") }}
                            </div>
                        </div>
                        <div class="col-sm-offset-3 col-sm-2">
                            <div class="form-group">
                                <label for="address_city" class="control_label">Country</label>
                                {{ client_form.address_city(maxlength=3, class="form-control") }}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button form="newClientForm" type="submit" class="btn btn-primary">Add to this Case</button>
            </div>
        </div>
    </div>
</div>