{% extends "shared/base.html" %}

{% block content %}
    {% include 'shared/flash.html' %}
    <h1>Sign In</h1>
    <form class="form" action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <div class="control-group{% if form.user_name.errors %} error{% endif %}">
            <label class="control-label" for="user_name">Please enter your User Name:</label>
            <div class="controls">
                {{ form.user_name(size=80, class="span4") }}
                {% for error in form.user_name.errors %}
                    <span class="help-inline">[{{ error }}]</span><br/>
                {% endfor %}
            </div>
        </div>
        <div class="control-group{% if form.password.errors %} error{% endif %}">
            <label class="control-label" for="password">Password:</label>
            <div class="controls">
                {{ form.password(size=80) }}
                {% for error in form.password.errors %}
                    <span class="help-inline">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox" for="remember_me">
                    {{ form.remember_me }} keep me logged in
                </label>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="Sign In"/>
            </div>
        </div>
    </form>
{% endblock %}