{% extends 'shared/base.html' %}

{% block content %}
<h1>Edit Your Profile</h1>
{% include 'shared/flash.html' %}
<div class="well">
    <form class="form-horizontal" action="" method="post" name="edit">
        {{ form.hidden_tag() }}
        <div class="control-group{% if form.email.errors %} error{% endif %}">
            <label class="control-label" for="email">Your e-mail:</label>
            <div class="controls">
                {{ form.email(maxlength=120, class="span4") }}
                {% for error in form.email.errors %}
                    <span class="help-inline">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>
        <div class="control-group{% if form.about_me.errors %} error{% endif %}">
            <label class="control-label" for="about_me">About yourself:</label>
            <div class="controls">
                {{ form.about_me(cols=64, rows=4, class="span4") }}
                {% for error in form.about_me.errors %}
                    <span class="help-inline">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="Save Changes" />
            </div>
        </div>
    </form>
</div>
{% endblock %}