{% extends 'shared/hh_base.html' %}

{% block page_title %}
    Case: {{ case_name_front }}/{{ case_name_back }}
{% endblock %}

{% block head_content %}
    <script type="text/javascript">
        var caseId = {{ case_id }};
    </script>
{% endblock %}


{% block content %}
    {% include 'shared/hh_flash.html' %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Case Details</h3>
        </div>
        <div class="panel-body">
            <form class="" action="" method="post" name="new-client" id="caseform">
                {{ form.hidden_tag() }}
                <fieldset disabled>
                    <div class="">
                        <div class="col-sm-6">
                            <div class="form-group{% if form.case_name.errors %} has-error{% endif %}">
                                <label for="case_name" class="control-label">Case Name</label>
                                {{ form.case_name(maxlength=255, class="form-control") }}
                                {% for error in form.case_name.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="court_case_number" class="control-label">Court Case Number</label>
                                {{ form.court_case_number(maxlength=255, class="form-control") }}
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="date_opened" class="control-label">Date Opened</label>
                                {{ form.date_opened(class="form-control") }}
                            </div>
                        </div>
                        <div class="col-sm-offset-3 col-sm-3">
                            <div class="form-group">
                                <label for="date_closed" class="control-label">Date Closed</label>
                                {{ form.date_closed(class="form-control") }}
                            </div>
                        </div>
                    </div>
                </fieldset>

                <div class="col-sm-12" style="margin-top: 3%">
                    <button type="button" class="btn btn-default" data-toggle="button" id="editformtoggle">
                        <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit Case Details
                    </button>
                    <button id='savebutton' type="submit" class="btn btn-default pull-right" disabled>Save Changes
                    </button>
                </div>
            </form>
        </div>
    </div>

{#    <div class="col-sm-3 pull-right">#}
{#        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#clientAddModal"#}
{#                data-backdrop="static" data-keyboard=false>Add Client to this Case#}
{#        </button>#}
{#    </div>#}
    {% include 'shared/hh_clients_by_case.html' %}

    <div class="modal fade" id="clientAddModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <h4 class="modal-title">Enter Client Details</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="newClientForm" method="post"
                          action="{{ url_for('add_client_to_case', case_name_front=case_name_front, case_name_back=case_name_back) }}">
                        {{ client_form.hidden_tag() }}
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label for="first_name" class="control_label">First Name</label>
                                {{ client_form.first_name(maxlength=255, class="form-control") }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label for="last_name" class="control_label">Last Name</label>
                                {{ client_form.last_name(maxlength=255, class="form-control") }}
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button form="newClientForm" type="submit" class="btn btn-primary">Add to this Case</button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Phone Log</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3 center-block">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#phonelogAddModal"
                            data-backdrop="static" data-keyboard=false>Add Log Entry
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-2 col-sm-8">
                    {% if not logs %}
                        There are currently no phone log entries associated with this case.
                    {% else %}
                        {% for log in logs %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    {{ log.timestamp }}
                                </div>
                                <div class="panel-body">
                                    <p style="white-space: pre-wrap">{{ log.content }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="phonelogAddModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <h4 class="modal-title">Phone Log Entry</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="phonelogForm" method="post"
                          action="{{ url_for('add_phonelog_to_case', case_name_front=case_name_front, case_name_back=case_name_back) }}">
                        {{ client_form.hidden_tag() }}
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="logdate" class="control_label">Date</label>
                                {{ phonelog_form.logdate(class="form-control") }}
                            </div>
                        </div>
                        <div class="col-sm-offset-2 col-sm-4">
                            <div class="form-group">
                                <label for="logtime" class="control-label">Time</label>
                                <div class="input-group bootstrap-timepicker timepicker">
                                    {{ phonelog_form.logtime(class="form-control") }}
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="content" class="control-label">Content</label>
                                {{ phonelog_form.content(class="form-control", style="white-space: pre-wrap") }}
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button form="phonelogForm" type="submit" class="btn btn-primary">Add to this Case</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer_scripts %}
    <script src="{{ url_for('static', filename='js/specific_case_clients.js') }}"></script>
{% endblock %}